html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.navbar a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    color: lightblue;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

img {
    max-width: 100%;
}

h1,
h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: #1f2937;
    height: 60px;
}

.header {
    background: #1f2937;
    min-height: 400px;
}

.header .hero {
    font-size: 48px;
    color: #f9faf8;
    line-height: 1.2;
    margin-bottom: 0;
}

.header .hero-second {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.header .hero-button {
    background-color: #3882f6;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    padding: 5px 20px;
}

.header .hero-button:hover {
    background-color: darkslategray;
    cursor: pointer;
}

.header .hero-image {
    max-width: 400px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxes {
    min-height: 400px;
}

.boxes .boxes-header {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    margin-top: 10px;
}

.boxes .container {
    display: flex;
}

.boxes img {
    max-width: 100px;
    border: 2px solid #1f2937;
    border-radius: 10px;
}

.box {
    flex: 1;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
}